<ion-header>
  <ion-toolbar>
    <ion-title>DESCRIÇÃO DOS SERVIÇOS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-card>
    
      <ion-card-header>
       <ion-card-title>Serviço</ion-card-title>
      </ion-card-header>
      <ion-card-content>
          Balanceamento
         </ion-card-content>
    
     
    </ion-card>
    </ion-item>
    
    <ion-item>
        <ion-card>
         
          <ion-card-header>
           <ion-card-title>Valor</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
           R$:150,00
          </ion-card-content>
        </ion-card>
        </ion-item>
    
        <ion-item>
            <ion-card>
             
              <ion-card-header>
               <ion-card-title>Oficina</ion-card-title>
              </ion-card-header>
            
              <ion-card-content>
                Auto Center HelpCar<br>
                Avenida Elias yasbek 219 São Paulo - SP
              </ion-card-content>
            </ion-card>
            </ion-item>
    
            <ion-item>
                <ion-card>
                
                  <ion-card-header>
                   <ion-card-title>Período</ion-card-title>
                  </ion-card-header>
                
                  <ion-card-content>
                    25 Julho 2019<br>
                    06:12 - 08:00
                  </ion-card-content>
                </ion-card>
                </ion-item>
    
                <ion-item>
                  <ion-card>
                  
                    <ion-card-header>
                     <ion-card-title>Descrição</ion-card-title>
                    </ion-card-header>
                  
                    <ion-card-content>
                     
                    </ion-card-content>
                  </ion-card>

                
                  </ion-item>


                  <ion-button expand="full" (click)="agendar()" color="primary">Agendar</ion-button>

                 <ion-item>
                  <ion-card>
    
                    <ion-card-header>
                     <ion-card-title>Serviço</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        Balanceamento
                       </ion-card-content>
                  
                   
                  </ion-card>
                  </ion-item>
                  
                  <ion-item>
                      <ion-card>
                       
                        <ion-card-header>
                         <ion-card-title>Valor</ion-card-title>
                        </ion-card-header>
                      
                        <ion-card-content>
                         R$:150,00
                        </ion-card-content>
                      </ion-card>
                      </ion-item>
                  
                      <ion-item>
                          <ion-card>
                           
                            <ion-card-header>
                             <ion-card-title>Oficina</ion-card-title>
                            </ion-card-header>
                          
                            <ion-card-content>
                              Auto Center HelpCar<br>
                              Avenida Elias yasbek 219 São Paulo - SP
                            </ion-card-content>
                          </ion-card>
                          </ion-item>
                  
                          <ion-item>
                              <ion-card>
                              
                                <ion-card-header>
                                 <ion-card-title>Período</ion-card-title>
                                </ion-card-header>
                              
                                <ion-card-content>
                                  25 Julho 2019<br>
                                  06:12 - 08:00
                                </ion-card-content>
                              </ion-card>
                              </ion-item>
                  
                              <ion-item>
                                <ion-card>
                                
                                  <ion-card-header>
                                   <ion-card-title>Descrição</ion-card-title>
                                  </ion-card-header>
                                
                                  <ion-card-content>
                                   
                                  </ion-card-content>
                                </ion-card>
              
                              
                                </ion-item>
              
              
                                <ion-button expand="full" (click)="agendar()" color="primary">Agendar</ion-button>

                                
                 <ion-item>
                  <ion-card>
    
                    <ion-card-header>
                     <ion-card-title>Serviço</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        Balanceamento
                       </ion-card-content>
                  
                   
                  </ion-card>
                  </ion-item>
                  
                  <ion-item>
                      <ion-card>
                       
                        <ion-card-header>
                         <ion-card-title>Valor</ion-card-title>
                        </ion-card-header>
                      
                        <ion-card-content>
                         R$:150,00
                        </ion-card-content>
                      </ion-card>
                      </ion-item>
                  
                      <ion-item>
                          <ion-card>
                           
                            <ion-card-header>
                             <ion-card-title>Oficina</ion-card-title>
                            </ion-card-header>
                          
                            <ion-card-content>
                              Auto Center HelpCar<br>
                              Avenida Elias yasbek 219 São Paulo - SP
                            </ion-card-content>
                          </ion-card>
                          </ion-item>
                  
                          <ion-item>
                              <ion-card>
                              
                                <ion-card-header>
                                 <ion-card-title>Período</ion-card-title>
                                </ion-card-header>
                              
                                <ion-card-content>
                                  25 Julho 2019<br>
                                  06:12 - 08:00
                                </ion-card-content>
                              </ion-card>
                              </ion-item>
                  
                              <ion-item>
                                <ion-card>
                                
                                  <ion-card-header>
                                   <ion-card-title>Descrição</ion-card-title>
                                  </ion-card-header>
                                
                                  <ion-card-content>
                                   
                                  </ion-card-content>
                                </ion-card>
              
                              
                                </ion-item>
              
              
                                <ion-button expand="full" (click)="agendar()" color="primary">Agendar</ion-button>




                                
                 <ion-item>
                  <ion-card>
    
                    <ion-card-header>
                     <ion-card-title>Serviço</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        Balanceamento
                       </ion-card-content>
                  
                   
                  </ion-card>
                  </ion-item>
                  
                  <ion-item>
                      <ion-card>
                       
                        <ion-card-header>
                         <ion-card-title>Valor</ion-card-title>
                        </ion-card-header>
                      
                        <ion-card-content>
                         R$:150,00
                        </ion-card-content>
                      </ion-card>
                      </ion-item>
                  
                      <ion-item>
                          <ion-card>
                           
                            <ion-card-header>
                             <ion-card-title>Oficina</ion-card-title>
                            </ion-card-header>
                          
                            <ion-card-content>
                              Auto Center HelpCar<br>
                              Avenida Elias yasbek 219 São Paulo - SP
                            </ion-card-content>
                          </ion-card>
                          </ion-item>
                  
                          <ion-item>
                              <ion-card>
                              
                                <ion-card-header>
                                 <ion-card-title>Período</ion-card-title>
                                </ion-card-header>
                              
                                <ion-card-content>
                                  25 Julho 2019<br>
                                  06:12 - 08:00
                                </ion-card-content>
                              </ion-card>
                              </ion-item>
                  
                              <ion-item>
                                <ion-card>
                                
                                  <ion-card-header>
                                   <ion-card-title>Descrição</ion-card-title>
                                  </ion-card-header>
                                
                                  <ion-card-content>
                                   
                                  </ion-card-content>
                                </ion-card>
              
                              
                                </ion-item>
              
              
                                <ion-button expand="full" (click)="agendar()" color="primary">Agendar</ion-button>

                                  
                                <ion-card>
                                  <ion-card-content>
                                      <ion-item>
                                          <ion-label position="center">Nome</ion-label>
                                          <ion-input color="ligth"  disabled="true"></ion-input>
                                      
                                      </ion-item>
                                      <ion-item>
                                          <ion-label position="stacked">Sobre nome</ion-label>
                                          <ion-input color="ligth" disabled="true"></ion-input>
                                      
                                      </ion-item>
                                      <ion-item>
                                          <ion-label position="stacked">Senha</ion-label>
                                          <ion-input  type="password" color="ligth"  disabled="true"></ion-input>
                                      
                                      </ion-item>
                                      <ion-item>
                                          <ion-label position="stacked">Confirma Senha</ion-label>
                                          <ion-input type="password" color="ligth" disabled="true"></ion-input>
                                      
                                      </ion-item>   
                                      <ion-button expand="full" (click)="agendar()" color="primary">Agendar</ion-button>
                              </ion-card-content>  
                          </ion-card>
              
                               
                  
                
             </ion-content>
