<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

<div *ngIf="etapaCadastro === 1">
        <ion-item>
            <ion-label position="stacked">Nome</ion-label>
            <ion-input color="ligth" name="nomeCadastro"></ion-input>
        
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Sobre nome</ion-label>
            <ion-input color="ligth" name="sNomeCadastro"></ion-input>
        
        </ion-item>
         <ion-item>
            <ion-label position="stacked">Senha</ion-label>
            <ion-input  type="password" color="ligth" name="senhaCadastro"></ion-input>
        
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Confirma Senha</ion-label>
            <ion-input type="password" color="ligth" name="confirmaSenhaCadastro"></ion-input>
        
        </ion-item>

      
         <ion-button expand="full" (click)="recebeDados(etapaCadastro)" color="primary">Proxímo</ion-button>
</div>

<div *ngIf="etapaCadastro === 2">
 <ion-button expand="full" (click)="voltaDadosAnterior(etapaCadastro)" color="primary">Anterior</ion-button>
<ion-item>
            <ion-label position="stacked">CEP</ion-label>
            <ion-input color="ligth" name="cepCadastro"></ion-input>
        
        </ion-item>
        <ion-item>
            <ion-label position="stacked">RUA</ion-label>
            <ion-input color="ligth" name="ruaCadastro"></ion-input>
        
        </ion-item>
         <ion-item>
            <ion-label position="stacked">BAIRRO</ion-label>
            <ion-input   color="ligth" name="bairroCadastro"></ion-input>
        
        </ion-item>
        <ion-item>
            <ion-label position="stacked">CIDADE</ion-label>
            <ion-input  color="ligth" name="cidadeCadastro"></ion-input>
        
        </ion-item>
         <ion-item>
            <ion-label position="stacked">ESTADO</ion-label>
            <ion-input  color="ligth" name="estadoCadastro"></ion-input>
        
        </ion-item>
        <ion-item>
            <ion-label position="stacked">NÚMERO</ion-label>
            <ion-input  color="ligth" name="numeroCadastro"></ion-input>
        
        </ion-item>

      
         <ion-button expand="full" (click)="recebeDados(etapaCadastro)" color="primary">Proxímo</ion-button>
</div>

<div *ngIf="etapaCadastro === 3">
     <ion-button expand="full" (click)="voltaDadosAnterior(etapaCadastro)" color="primary">Anterior</ion-button>


    <ion-button expand="full" (click)="recebeDados(etapaCadastro)" color="primary">Proxímo</ion-button>
</div>

<div *ngIf="etapaCadastro === 4">
cadastro realizado com sucesso!

clique aqui para fazer login
<button>Ir para login</button>
</div>







</ion-content>
