<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<form [formGroup]="formCadastroCliente" (ngSubmit)="mostarDadosCad()">
        <div *ngIf="etapaCadastro === 1">
                <ion-item>
                    <ion-label position="stacked">Nome</ion-label>
                    <ion-input color="ligth" formControlName="nomeCadastro"></ion-input>
                
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">Sobre nome</ion-label>
                    <ion-input color="ligth" formControlName="sNomeCadastro"></ion-input>
                
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">Senha</ion-label>
                    <ion-input  type="password" color="ligth" formControlName="senhaCadastro"></ion-input>
                
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">Confirma Senha</ion-label>
                    <ion-input type="password" color="ligth" formControlName="confirmaSenhaCadastro"></ion-input>
                
                </ion-item>

            
                <ion-button expand="full" (click)="recebeDados()" color="primary">Proxímo</ion-button>
        </div>

        <div *ngIf="etapaCadastro === 2">
        <ion-button expand="full" (click)="voltaDadosAnterior()" color="primary">Anterior</ion-button>
                <ion-item>
                    <ion-label position="stacked">CEP</ion-label>
                    <ion-input color="ligth" formControlName="cepCadastro"></ion-input>
                
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">RUA</ion-label>
                    <ion-input color="ligth" formControlName="ruaCadastro"></ion-input>
                
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">BAIRRO</ion-label>
                    <ion-input   color="ligth" formControlName="bairroCadastro"></ion-input>
                
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">CIDADE</ion-label>
                    <ion-input  color="ligth" formControlName="cidadeCadastro"></ion-input>
                
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">ESTADO</ion-label>
                    <ion-input  color="ligth" formControlName="estadoCadastro"></ion-input>
                
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">NÚMERO</ion-label>
                    <ion-input  color="ligth" formControlName="numeroCadastro"></ion-input>
                
                </ion-item>

            
                <ion-button expand="full" (click)="recebeDados()" color="primary">Proxímo</ion-button>
        </div>

        <div *ngIf="etapaCadastro === 3">
            <ion-button expand="full" (click)="voltaDadosAnterior()" color="primary">Anterior</ion-button>
            <ion-item>
                <ion-label position="stacked">PLACA</ion-label>
                <ion-input color="ligth" formControlName="placaCadastro"></ion-input>
            
            </ion-item>
            <ion-item>
                <ion-label position="stacked">MARCA</ion-label>
                <ion-input color="ligth" formControlName="marcaCadastro"></ion-input>
            
            </ion-item>
            <ion-item>
                <ion-label position="stacked">MODELO</ion-label>
                <ion-input   color="ligth" formControlName="modeloCadastro"></ion-input>
            
            </ion-item>
            <ion-item>
                <ion-label position="stacked">ANO FABRICAÇÃO</ion-label>
                <ion-input  color="ligth" formControlName="anoFabCadastro"></ion-input>
            
            </ion-item>
            <ion-item>
                <ion-label position="stacked">ANO MODELO</ion-label>
                <ion-input  color="ligth" formControlName="anoModCadastro"></ion-input>

            
            </ion-item>
        
            <ion-button expand="full" (click)="recebeDados()" color="primary">Proxímo</ion-button>    
            
        
        </div>

        <div *ngIf="etapaCadastro === 4">
            <fieldset>
                <legend>Dados</legend>
                <p>{{formCadastroCliente.value["nomeCadastro"]}}</p>
                <button (click)="vaiParaEtapa(1)">edit</button>
            </fieldset>

            <ion-item>
                <ion-label position="stacked">Nome</ion-label>
                <ion-input color="ligth" value="nomeCadastro"></ion-input>
            
            </ion-item>
            <ion-item>
                <ion-label position="stacked">Sobre nome</ion-label>
                <ion-input color="ligth" value="sNomeCadastro"></ion-input>
            
            </ion-item>
            <ion-item>
                <ion-label position="stacked">Senha</ion-label>
                <ion-input  type="password" color="ligth" value="senhaCadastro"></ion-input>
            
            </ion-item>
            <ion-item>
                <ion-label position="stacked">Confirma Senha</ion-label>
                <ion-input type="password" color="ligth" value="confirmaSenhaCadastro"></ion-input>
            
            </ion-item>

        
            <ion-item>
                <ion-label position="stacked">CEP</ion-label>
                <ion-input color="ligth" value="cepCadastro"></ion-input>
            
            </ion-item>
            <ion-item>
                <ion-label position="stacked">RUA</ion-label>
                <ion-input color="ligth" value="ruaCadastro"></ion-input>
            
            </ion-item>
            <ion-item>
                <ion-label position="stacked">BAIRRO</ion-label>
                <ion-input   color="ligth" value="bairroCadastro"></ion-input>
            
            </ion-item>
            <ion-item>
                <ion-label position="stacked">CIDADE</ion-label>
                <ion-input  color="ligth" value="cidadeCadastro"></ion-input>
            
            </ion-item>
            <ion-item>
                <ion-label position="stacked">ESTADO</ion-label>
                <ion-input  color="ligth" value="estadoCadastro"></ion-input>
            
            </ion-item>
            <ion-item>
                <ion-label position="stacked">NÚMERO</ion-label>
                <ion-input  color="ligth" value="numeroCadastro"></ion-input>
            
            </ion-item>
            <ion-item>
                <ion-label position="stacked">PLACA</ion-label>
                <ion-input color="ligth" value="placaCadastro"></ion-input>
            
            </ion-item>
            <ion-item>
                <ion-label position="stacked">MARCA</ion-label>
                <ion-input color="ligth" value="marcaCadastro"></ion-input>
            
            </ion-item>
            <ion-item>
                <ion-label position="stacked">MODELO</ion-label>
                <ion-input   color="ligth" value="modeloCadastro"></ion-input>
            
            </ion-item>
            <ion-item>
                <ion-label position="stacked">ANO FABRICAÇÃO</ion-label>
                <ion-input  color="ligth" value="anoFabCadastro"></ion-input>
            
            </ion-item>
            <ion-item>
                <ion-label position="stacked">ANO MODELO</ion-label>
                <ion-input  color="ligth" value="anoModCadastro"></ion-input>

            
            </ion-item>












            
        
            <ion-button expand="full" (click)="login()" color="medium">FINALIZAR CADASTRO</ion-button>
           

             
            <ion-button expand="full" (click)="login()" color="primary">Voltar Para Login</ion-button>
            <ion-button type="submit" expand="full" [disabled]="formCadastroCliente.invalid"  color="primary">PROXIMO</ion-button>
        </div>

</form>





</ion-content>
