<ion-header>
  <ion-toolbar>
    <ion-title>PERFIL</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   
     
          
            
        
        

            <ion-card>
                    <ion-card-content>
                        <ion-item>
                            <ion-label position="stacked">Nome</ion-label>
                            <ion-input color="ligth"  disabled="true"></ion-input>
                        
                        </ion-item>
                        <ion-item>
                            <ion-label position="stacked">Sobre nome</ion-label>
                            <ion-input color="ligth" disabled="true"></ion-input>
                        
                        </ion-item>
                        <ion-item>
                            <ion-label position="stacked">Senha</ion-label>
                            <ion-input  type="password" color="ligth"  disabled="true"></ion-input>
                        
                        </ion-item>
                        <ion-item>
                            <ion-label position="stacked">Confirma Senha</ion-label>
                            <ion-input type="password" color="ligth" disabled="true"></ion-input>
                        
                        </ion-item>   
                        <ion-button color="primary" size="block">Editar</ion-button>
                </ion-card-content>  
            </ion-card>

            
       <ion-card>
            <ion-card-content>
                <ion-item>
                    <ion-label position="stacked">CEP</ion-label>
                    <ion-input color="ligth"  disabled="true"></ion-input>
                
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">RUA</ion-label>
                    <ion-input color="ligth"  disabled="true"></ion-input>
                
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">BAIRRO</ion-label>
                    <ion-input   color="ligth"  disabled="true"></ion-input>
                
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">CIDADE</ion-label>
                    <ion-input  color="ligth"  disabled="true"></ion-input>
                
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">ESTADO</ion-label>
                    <ion-input  color="ligth"  disabled="true"></ion-input>
                
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">NÚMERO</ion-label>
                    <ion-input  color="ligth"  disabled="true"></ion-input>
                
                   
                </ion-item>
                <ion-button color="primary" size="block">Editar</ion-button>
            </ion-card-content>    
        </ion-card>
        <ion-card>
            <ion-card-content>
            <ion-item>
                <ion-label position="stacked">PLACA</ion-label>
                <ion-input color="ligth"  disabled="true"></ion-input>
            
            </ion-item>
            <ion-item>
                <ion-label position="stacked">MARCA</ion-label>
                <ion-input color="ligth"  disabled="true"></ion-input>
            
            </ion-item>
            <ion-item>
                <ion-label position="stacked">MODELO</ion-label>
                <ion-input   color="ligth" disabled="true"></ion-input>
            
            </ion-item>
            <ion-item>
                <ion-label position="stacked">ANO FABRICAÇÃO</ion-label>
                <ion-input  color="ligth"  disabled="true"></ion-input>
            
            </ion-item>
            <ion-item>
                <ion-label position="stacked">ANO MODELO</ion-label>
                <ion-input  color="ligth"  disabled="true"></ion-input>

            
            </ion-item>
            <ion-button color="primary" size="block">Editar</ion-button>
        </ion-card-content> 
        </ion-card>










            
        
           
           

             
            
        






</ion-content>

