<ion-header>
  <ion-toolbar>
    <ion-title>perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  

  <ion-item>
    <ion-card>
     <div class="imgbalanceamento">
         <ion-img src="./assets/img/servicos-balanceamento.png"></ion-img>
     </div>
      <ion-card-header>
       <ion-card-title>Balanceamento</ion-card-title>
      </ion-card-header>
      <ion-card-content>
          Confira nosso serviço de balanceamento
         </ion-card-content>
    
     
    </ion-card>
    </ion-item>
    
    <ion-item>
        <ion-card>
         <div class="imgbalanceamento">
             <ion-img src="./assets/img/servicos-balanceamento.png"></ion-img>
         </div>
          <ion-card-header>
           <ion-card-title>Balanceamento</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
           Confira nosso serviço de balanceamento
          </ion-card-content>
        </ion-card>
        </ion-item>
    
        <ion-item>
            <ion-card>
             <div class="imgbalanceamento">
                 <ion-img src="./assets/img/servicos-balanceamento.png"></ion-img>
             </div>
              <ion-card-header>
               <ion-card-title>Balanceamento</ion-card-title>
              </ion-card-header>
            
              <ion-card-content>
               Confira nosso serviço de balanceamento
              </ion-card-content>
            </ion-card>
            </ion-item>
    
            <ion-item>
                <ion-card>
                 <div class="imgbalanceamento">
                     <ion-img src="./assets/img/servicos-balanceamento.png"></ion-img>
                 </div>
                  <ion-card-header>
                   <ion-card-title>Balanceamento</ion-card-title>
                  </ion-card-header>
                
                  <ion-card-content>
                   Confira nosso serviço de balanceamento
                  </ion-card-content>
                </ion-card>
                </ion-item>
    



</ion-content>
