<ion-header>
  <ion-toolbar>
    <ion-title>CONFIRMAR AGENDAMENTO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <ion-card>
    
      <ion-card-header>
       <ion-card-title>Confirmar Agendamento?</ion-card-title>
      </ion-card-header>
      <ion-card-content>
          Data:25-01-2020
          <br>
          Hora:18:00
         </ion-card-content>
    
         <ion-button expand="block" (click)="confirmar()" color="primary">Sim</ion-button>
         <ion-button expand="block" (click)="cancelar()" color="danger">Não</ion-button>
     
    </ion-card>
    
</ion-content>
