ion-header{

    --ion-background-color:#63E2BC;
   }

   ion-title{
    text-align: center;
}

ion-card{
    margin-top:20%;
    padding-bottom:5%;
    text-align: center;
    --ion-background-color: white;
}

ion-content{
    --ion-background-color: rgb(240, 232, 222); 
}
