ion-title {
    text-align: center;
    color: white;
    size:25px;
   
   }

   ion-header{

    --ion-background-color:#63E2BC;
   }
   ion-card{
       text-align: center;
   }

   ion-content{

    --ion-background-color: rgb(240, 232, 222);

   }
