<ion-header>
  
  <ion-toolbar>
    <ion-title>HISTÓRICO DE SERVIÇOS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-card>
    
      <ion-card-header>
       <ion-card-title>Serviço Realizado</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
         Foi realizado um  Balanceamento
        </ion-item>
         <ion-item>
         Data: 25 Julho 2019
        </ion-item>
        <ion-item>
         Horário: 06:12 - 08:00
        </ion-item>
        <ion-item>
         Valor:$250,oo
        </ion-item>
        <ion-item>
         Oficina:Auto Center HelpCar
        </ion-item>
        <ion-item>
         Endereço:Avenida Elias yasbek 219 São Paulo - SP
        </ion-item>
        <ion-item>
         Status:Em andamento
        </ion-item>
        </ion-card-content>

    
      
    </ion-card>
  </ion-item>
    
    <ion-item>
      <ion-card>
    
        <ion-card-header>
         <ion-card-title>Serviço Realizado</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
           Foi realizado um  Balanceamento
          </ion-item>
           <ion-item>
           Data:25 Julho 2019
          </ion-item>
          <ion-item>
           Horário: 06:12 - 08:00
          </ion-item>
          <ion-item>
           Valor:$250,oo
          </ion-item>
          <ion-item>
           Oficina:Auto Center HelpCar
          </ion-item>
          <ion-item>
            Endereço:Avenida Elias yasbek 219 São Paulo - SP
           </ion-item>
           <ion-item>
           Status:Em andamento
          </ion-item>
          </ion-card-content>
  
      
       
      </ion-card>
        </ion-item>
    
        <ion-item>
          <ion-card>
        
            <ion-card-header>
             <ion-card-title>Serviço Realizado</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-item>
               Foi realizado um  Balanceamento
              </ion-item>
               <ion-item>
               Data:25 Julho 2019
              </ion-item>
              <ion-item>
               Horário: 06:12 - 08:00
              </ion-item>
              <ion-item>
               Valor:$250,oo
              </ion-item>
              <ion-item>
               Oficina:Auto Center HelpCar
              </ion-item>
              <ion-item>
                Endereço:Avenida Elias yasbek 219 São Paulo - SP
               </ion-item>
               <ion-item>
               Status:Em andamento
              </ion-item>
              </ion-card-content>
      
          
           
          </ion-card>
            </ion-item>
    
            <ion-item>
              <ion-card>
            
                <ion-card-header>
                 <ion-card-title>Serviço Realizado</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <ion-item>
                   Foi realizado um  Balanceamento
                  </ion-item>
                   <ion-item>
                   Data:25 Julho 2019
                  </ion-item>
                  <ion-item>
                   Horário: 06:12 - 08:00
                  </ion-item>
                  <ion-item>
                   Valor:$250,oo
                  </ion-item>
                  <ion-item>
                   Oficina:Auto Center HelpCar
                  </ion-item>
                  <ion-item>
                    Endereço:Avenida Elias yasbek 219 São Paulo - SP
                   </ion-item>
                   <ion-item>
                   Status:Em andamento
                  </ion-item>
                  </ion-card-content>
          
              
               
              </ion-card>
                </ion-item>

           
    



</ion-content>

